@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: none;
}

:root {
  --gradient: conic-gradient(
    from 90deg at 50% 50%,
    rgb(251, 55, 60),
    rgba(252, 114, 28, 1),
    rgba(255, 220, 0, 1),
    rgba(27, 206, 255, 1),
    rgba(42, 107, 255, 1),
    rgba(217, 41, 255, 1),
    rgba(255, 10, 92, 1)
  );
}

body {
  margin: 0;
  background-color: #0f0f0f;
  transition: 0.5s;
}

h1,h2 {
  font-size: 65px;
  color: rgb(71, 71, 71);
  text-align: center;
  font-weight: 600;

}

p {
  font-size: 20px;
  color: rgb(174, 174, 174);
  font-weight: 600;
}

.card {
  --start: 0;
  position: relative;
  display: flex;
  flex-direction: column;
 
  align-items: flex-start;
  max-width: 110%;
  height: 400px;
  margin: 10px;
  padding: 10px;
  background-color: #040404;
  border-radius: 14px;
  transition: border-color 0.5s ease-in-out;
  transition: 0.5s;
  margin-bottom: 5%;
}
iframe {
  position: relative;
  z-index: 10;
}
.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  border: 2px solid transparent;
  background: var(--gradient);
  background-attachment: fixed;
  mask: linear-gradient(#0000, #0000), conic-gradient(from calc((
              var(--start) - (20 * 1.1)
            ) * 1deg), #ffffff1f 0deg, white, #ffffff00 100deg);
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}
.glow {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(14px);
  }
  
  .glow::before {
    position: absolute;
    content: "";
    width: 98%;
    height: 98%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;
    border: 15px solid transparent;
    background: var(--gradient);
    background-attachment: fixed;
    mask: linear-gradient(#0000, #0000), conic-gradient(from calc((
                var(--start) - (20 * 1.1)
              ) * 1deg), #000 0deg, #ffffff, rgba(0, 0, 0, 0) 100deg);
    mask-composite: intersect;
    mask-clip: padding-box, border-box;
    opacity: 0;
    transition: 1s ease;
  }
  .card:hover {
    transform: translateY(-15px);
  }
  .card:hover > .glow::before {
    opacity: 1;
  }
  .card:hover::before {
    opacity: 0.6;
  }
  #inspiration{

  }
  #mainInfo{
    margin-top: 10%;
    margin-left: 20%;
    display: inline-block;
    justify-content: center;
  }
  #cursor {
    position: fixed; 
    width: 50px;
    height: 50px; 
    transform: translate(-70%, -20%); 
    pointer-events: none; 
    z-index: 1000; 
    filter: drop-shadow(0 5px 5px #fcf644);
}
.theme-switch-wrapper {
  margin-top: 1%;
  margin-left: 90%;
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

  
